[submodule "common/android-permissions"]
	path = common/android-permissions
	url = https://github.com/5kind/android-permissions
[submodule "common/chroot-systemctl"]
	path = common/chroot-systemctl
	url = https://github.com/5kind/chroot-systemctl
	branch = termux-arch-chroot
[submodule "common/arch-install-scripts"]
	path = common/arch-install-scripts
	url = https://github.com/5kind/arch-install-scripts
	branch = termux
